.secondary_btn {
    background: $color444547;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    margin: 0px;
    color: $colorwhite;
    font-family: 'Mont';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 16px 24px;

    &:hover {
        background-color: $color7E8992;
    }

    @media (max-width: 767px) {
        font-size: 12px;
        padding: 12px;
    }
}

.primary-btn {
    background: $color597559;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    margin: 0px;
    color: $colorwhite;
    font-family: 'Mont';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 16px 24px;

    @media (max-width: 767px) {
        font-size: 12px;
        padding: 12px;
    }

    svg {
        margin-left: 5px;
        width: 16px;
        margin-top: -2px;
    }

    &:hover {
        background-color: $color7C987C;
    }
}

.light_bg_btn {
    background-color: $color444547;
    opacity: 0.5;
    font-weight: 500;
    font-size: 14px;
    padding: 12px;
    border-radius: 6px;
    color: $colorwhite;
    border: none;
    line-height: 16px;

    @media (max-width: 767px) {
        font-size: 12px;
    }
}

.header_btn {
    margin-right: 0px;
    font-weight: 500;
    font-size: 14px;
    padding: 12px;
    border-radius: 6px;

    @media (max-width: 767px) {
        font-size: 12px;
    }
}


.add_new_material {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
        color: $color3B5A71;
        font-family: 'Mont';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;

        @media (max-width: 767px) {
            font-size: 12px;
        }
    }

    &.add_product {
        a {
            margin-top: 30px;
            @media (max-width: 991px) {
                margin-top: 0px;
            }
            span {
                font-size: 16px;
            }
        }
    }
}

a.add_new_item {
    padding: 0px 12px;
    height: 36px;
    background: $color597559;
    display: flex;
    align-items: center;
    border-radius: 6px;
    max-width: 150px;
    justify-content: center;

    span {
        color: $colorwhite;
        font-family: 'Mont';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        border-radius: 6px;
    }

    svg {
        margin-right: 10px;
    }
}

.links {
    a {
        color: $color3B5A71;
        font-family: 'Mont';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
    }
}

.small-btn {
    padding: 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 6px;

    @media (max-width: 767px) {
        font-size: 12px;
    }
}

.success_number {
    background-color: $colorF2F5F1;
    color: $color597559;
    font-family: 'Mont';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: -0.12px;
    padding: 6px 4px;
    border-radius: 8px;
    margin-left: 4px;
}

.avatar {
    border-radius: 30px;
    background: $colorE3F0FA;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: $color232D35;
    font-family: 'Mont';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}

.view_link {
    color: $color597559;
    font-family: 'Mont';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    svg {
        margin-left: 4px;
    }
}
.add_items{
    display: flex;
    gap: 8px;
    max-width: 600px;
    padding-left: 0px;
    flex-wrap: wrap;
    .selected {
        border-radius: 100px;
        border: 1px solid #efefee;
        color: #232d35;
        font-family: "Mont";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        height: 36px;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        svg{
            margin-left: 10px;
        }
    }
}
