.pallet_details {
    .col-md-9 {
        padding: 0px 10px 0px 0px;
    }

    .col-md-3 {
        padding: 0px 0px 0px 10px;

        @media (max-width: 767px) {
            padding-left: 0px;
            margin-top: 20px;
        }
    }

    .card_footer {
        max-width: 100%;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .right_btns {
            display: flex;
            gap: 12px;

            @media (max-width: 767px) {
                margin-top: 10px;
            }
        }
    }

    select {
        padding: 7px 12px;
        min-width: 229px;
        height: 36px;
        max-width: 229px;
        color: $color232D35;
        font-family: 'Mont';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.14px;
        border-radius: 6px;
        border: 1px solid $colorEFEFEE;
        background: $colorwhite;
        display: block;
        width: 100%;
        background-image: url(../images/Polygon.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 12px);
        background-size: 10px;
        appearance: none;
    }

    .footer_right {
        select {
            min-width: 46px;
            background-image: url(../images/Polygon.svg);
            background-repeat: no-repeat;
            background-position: calc(100% - 12px);
            background-size: 10px;
            appearance: none;
        }

        p {
            white-space: nowrap;
        }
    }
}

