.pallet_details {
    .col-md-9 {
        padding: 0px 10px 0px 0px;
    }

    .col-md-3 {
        padding: 0px 0px 0px 10px;

        @media (max-width: 768px) {
            padding-left: 0px;
            margin-top: 20px;
        }
    }

    .card_footer {
        max-width: 100%;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .right_btns {
            display: flex;
            gap: 12px;

            @media (max-width: 767px) {
                margin-top: 10px;
            }
        }
    }

    select {
        padding: 7px 12px;
        min-width: 229px;
        height: 36px;
        max-width: 229px;
        color: $color232D35;
        font-family: 'Mont';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.14px;
        border-radius: 6px;
        border: 1px solid $colorEFEFEE;
        background: $colorwhite;
        display: block;
        width: 100%;
        background-image: url(../images/Polygon.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 12px);
        background-size: 10px;
        appearance: none;
    }

    .footer_right {
        select {
            min-width: 46px;
            background-image: url(../images/Polygon.svg);
            background-repeat: no-repeat;
            background-position: calc(100% - 12px);
            background-size: 10px;
            appearance: none;
        }

        p {
            white-space: nowrap;
        }
    }
}

.successfully_modal {
    .modal-dialog {
        .modal-content {
            border-radius: 8px;
            background: $colorwhite;
            max-width: 440px;

            .modal-header {
                padding: 16px 20px;
                border: 1px solid $colorEFEFEE;

                .modal_title {
                    font-family: 'Mont';
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    color: $color232D35;
                    margin-bottom: 0px;
                }

                .btn_close {
                    border: none;
                    background: transparent;
                    margin-left: auto;
                    padding: 0px;
                }
            }

            .modal_content {
                margin-bottom: 20px;
                padding-top: 20px;

                p {
                    color: $color232D35;
                    font-family: 'Mont';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 0px;
                }
            }

            .modal-body {
                padding: 20px;

                .main_content {
                    text-align: center;
                    padding-top: 22px;

                    p {
                        padding-top: 14px;
                        color: $color5D666C;
                        text-align: center;
                        font-family: 'Gilroy';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                        margin-bottom: 0px;
                    }
                }

                h4 {
                    margin-bottom: 0px;
                    margin-top: 14px;
                    color: $color365236;
                    text-align: center;
                    font-family: "DM Serif Text";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
            }

            .modal-footer {
                border: none;
                justify-content: center;
                padding: 0px 20px 32px 20px;
            }
        }
    }

    &.pallet_open_modal {
        .modal-dialog {

            .modal-content {
                max-width: 528px;
                min-width: 528px;

                .top_items {
                    padding-bottom: 24px;
                    padding-top: 4px;
                }

                .section_heading {
                    font-weight: 500;
                }

                .data_items {
                    ul {
                        padding-left: 0px;
                        display: flex;
                        margin-bottom: 0px;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        li {

                            p {
                                margin-bottom: 0px;
                                letter-spacing: inherit;

                                &.light_font {
                                    margin-bottom: 10px;
                                    color: $color7E8992;
                                    line-height: 18px;
                                }

                                &.dark_font {
                                    line-height: 14px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }

            .type_fields {
                padding-top: 24px;

                .form_check {
                    display: flex;
                    flex-direction: column;

                    input {
                        max-width: 294px;
                        height: 36px;
                    }

                    select {
                        height: 36px;
                    }
                }

                &.weight_field {
                    input {
                        max-width: 150px;
                    }

                    .form_check {
                        .cancel_icon {
                            position: absolute;
                            right: 0px;
                            top: 3px;
                        }
                    }

                    .field_item {
                        position: relative;
                    }
                }
            }

            .pallet_items {
                padding-top: 24px;
                border-top: 1px solid $colorEFEFEE;

                .header_items {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .row {
                margin: 0px;
            }

            .col-md-7 {
                padding: 0px 6px 0px 0px;
                width: 60.8%;
            }

            .col-md-5 {
                padding: 0px 0px 0px 6px;
                width: 39.2%;
            }

            .modal-footer {
                justify-content: flex-end;
                gap: 12px;
                padding: 20px;

                .btn_link {
                        padding: 12px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16px;
                        margin-right: 0px;
                }
            }

        }

    }

}