.shipment_details {
    .col-md-6 {
        padding: 0px 10px;
        &:nth-child(2){
            @media (max-width: 767px) {
                margin-top: 20px;
            }
        }
        
    }
    .data_table{
        td{
            min-width: 258.33px;
            &.short_data{
                min-width: 50px;
            }
        }
       
    }
    .takeback_card {
        max-width: 856px;

        .check_fileds {
            display: flex;
            gap: 8px;
        }
    }

    .right-items {
        margin: 0px auto 0px 220px;
        @media (max-width: 1200px) {
            margin: 0px auto 0px auto;
        }
        @media (max-width: 950px) {
            margin: 10px 0px;
        }

        .stepper_items {
            display: flex;
            gap: 12px;
            @media (max-width: 767px) {
                gap: 0px;
            }
            .item{
               min-width: 165px;
            }
            .stpe_box {
                display: flex;
                align-items: baseline;
                .steps_circle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    border: 1px solid $color7E8992;
                    width: 32px;
                    height: 32px;
                    background-color: white;
                    .number {
                        font-family: 'Mont';
                        font-size: 14px;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 10px; /* 71.429% */
                        letter-spacing: -0.28px;
                        color: $color7E8992;
                        margin-top: 3px;

                    }
                }
                .step_name {
                    font-family: Mont;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 14px;
                    color: $color7E8992;
                    margin-left: 12px;
                    
                }
                &.active {
                    .steps_circle {
                        background-color: $colorE3F0FA;
                        border: 1px solid $color232D35;
                        .number {
                            color: $color232D35;
                        }
                    }
                    .step_name {
                        color: $color232D35;
                        font-weight: 700;
                    }
                    

                }
                
            }
            .a {
                
                // position: relative;
                // color: $color444547;
                // font-family: 'Mont';
                // font-size: 16px;
                // font-style: normal;
                // font-weight: 500;
                // line-height: 14px;
                // @media (max-width: 950px) {
                //     font-size: 14px;
                // }
                // span {
                //     position: absolute;
                //     left: 12px;
                //     top: 2px;
                //     @media (max-width: 767px) {
                //         top: 0px;
                //     }
                // }

                // svg {
                //     margin-right: 12px;
                // }

                &.active {
                    color: $color232D35;
                    font-weight: 700;

                    svg {
                        circle {
                            // stroke: $color232D35;
                            fill: #E3F0FA;
                            
                        }
                        path{
                            display: none;
                        }

                    }
                }
            }

            .center_icon {
                a {
                    svg {
                        margin: 5px 4px 0px 4px;
                    }
                }
            }
        }
    }
}

.card_footer {
    display: flex;
    justify-content: flex-end;
    max-width: 858px;
    padding-top: 20px;
    gap: 12px;
}

.data_entrys {
    .data {
        padding-bottom: 20px;
        border-bottom: 1px solid $colorEFEFEE;

        p {
            margin-bottom: 0px;

            &.light_font {
                margin-bottom: 12px;
                color: $color7E8992;
                line-height: 18px;
            }

            &.dark_font {
                line-height: 14px;
                font-weight: 500;
            }
        }
    }
}