.carousel {
    .slider_controler {
        position: absolute;
        top: 0px;
        left: 45%;
        background-color: $color3B5A71;
        border-radius: 20px;
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            left: 40%;
        }

        button {
            background-color: transparent;
            border: none;
            padding: 4px;
        }

        .center_box {
            width: 60px;
            height: 32px;
            background-color: #fff;
            border-radius: 40px;
            display: block;
            text-align: center;
            padding-top: 4px;
        }
    }
}