.open_shipment {
    .process_name {
        .main_title {
            svg {
                margin-right: 4px;
            }
        }
    }
}

.details_bar {
    padding-bottom: 12px;

    &.sort {
        .details {
            .col {
                margin-top: 13px;
            }
        }

        .form_check {
            display: flex;
            flex-direction: column;

            input {
                height: 36px;
                max-width: 150px;
                min-width: 150px;
            }

            select {
                height: 36px;
                max-width: 150px;
                min-width: 150px;
            }
        }

        .custom_checkbox {
            margin-bottom: -8px;

            input {
                min-width: inherit;
                position: relative;
            }
        }

        .details {
            .col {
                min-width: 150px;

                &.first_field {
                    min-width: 283px;

                    input {
                        min-width: 283px;
                        max-width: 283px;
                    }

                    select {
                        min-width: 283px;
                        max-width: 283px;
                    }
                }

                &.checbox_field {
                    min-width: 175px;
                    max-width: 175px;
                }
            }
        }
    }

    .details {
        padding-left: 0px;
        display: flex;
        margin-bottom: 0px;
        gap: 12px;
        align-items: flex-end;

        @media (max-width: 1400px) {
            flex-wrap: wrap;
        }

        .col {
            margin-top: 10px;
            min-width: 185.33px;

            p {
                margin-bottom: 0px;
                letter-spacing: inherit;

                &.light_font {
                    margin-bottom: 12px;
                    color: $color7E8992;
                    line-height: 18px;
                }

                &.dark_font {
                    line-height: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}

.box_shipment {
    .card_footer {
        max-width: 100%;
        gap: 12px;

        .btn_link {
            margin-right: 0px;
        }
    }
}

.details_header {
    display: flex;
    justify-content: space-between;

    .links {
        a {
            &:first-child {
                padding-right: 24px;
            }
        }

    }
    &.vendor_header{
        .links{
            svg{
                margin-right: 2px;
            }
            
        }
    }
}