.tabs_filter{
    padding: 16px 16px 0px 16px;
    background-color: $colorwhite;
    border: 1px solid $colorEFEFEE;
    border-radius: 8px;
    margin-bottom: 12px;
    .tabs{
        display: flex;
        overflow-x: auto;
        li{
            padding-right: 20px;
            a{
                color: $color444547;
                font-family: 'Mont';
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.14px;
                padding-bottom: 16px;
                display: block;
                white-space: nowrap;
                &.active{
                    border-bottom: 2px solid $color597559;
                    color: $color597559;
                    font-weight: 700;
                    .success_number{
                        background-color: $colorF2F5F1;
                        font-weight: 700;
                        color: $color597559;
                    }
                }
                .success_number{
                    background-color: $colorF2F2F4;
                    font-weight: 600;
                    margin-left: 8px;
                    color: $color444547;
                }
            }
        }
    }
}