.tabs_section {
    .row {
        --bs-gutter-x: 0;
        @media (max-width: 991px) {
            --bs-gutter-x: 1.5rem;
        }
    }
    &.active-in {
        .tabs_number {
            li {
                &.active {
                    a {
                        color: $color232D35;
                        border: 1px solid $color597559;
                        background-color: $colorwhite;
                        .number{
                            display: none;
                        }
                        .check{
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .tabs_number {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 15px;
            width: 1px;
            height: 100%;
            background-color: $colorEFEFEE;
            z-index: 2;
        }

        li {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            position: relative;
            z-index: 9;

            &:last-child {
                margin-bottom: 0px;
            }

            &.active {
                a {
                    color: $color232D35;
                    border: 1px solid $color232D35;
                    background-color: $colorE3F0FA;
                }

                span {
                    color: $color232D35;
                    font-weight: 700;
                    &.number {
                        background-color: $colorE3F0FA;
                    }
                }
            }
            &.active-in{
                a{
                    border-color: $color597559;
                }
               
            }
            span {
                color: $color7E8992;
                font-family: 'Mont';
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 14px;
                padding-left: 12px;
            }
            a{
                border: 1px solid $color7E8992;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: white;
            }
            .number {
               
                color: $color7E8992;
                font-family: 'Mont';
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 10px;
                letter-spacing: -0.28px;
                background-color: $colorwhite;
                padding-left: 0px;
                padding-top: 2px;
            }
            .check{
                display: none;
                padding-left: 0px;
            }
        }

    }

    .custom_col {
        &.number {
            max-width: 20%;
            min-width: 270px;
            width: 100%;
            padding-right: 12px;

            @media (max-width: 1400px) {
                max-width: 30%;
                min-width: inherit;
            }
            @media (max-width: 991px) {
                max-width: 100%;
            }
        }

    }

    .col-md-10 {
        &.process_fields {
            max-width: 80%;
            width: 100%;
            padding-left: 12px;

            @media (max-width: 1600px) {
                max-width: 867px;
            }
            @media (max-width: 1400px) {
                max-width: 70%;
            }
            @media (max-width: 1200px) {
                max-width: 100%;
                margin-top: 10px;
                padding-left: 0px;
            }
            @media (max-width: 991px) {
                padding-left: 12px;
            }
        }

    }

    .shipment_items {
        border-radius: 8px;
        border: 1px solid $colorEFEFEE;
        background: $colorwhite;
        padding: 20px;
        &.photography_process {
            .item-main {
                .right_items {
                    .target_block {
                        display: none;
                    }
                }
            }
        }
        &.upload_photo_process {
            .item-main {
                .right_items {
                    .target_block {
                        display: none;
                    }
                    .target_check {
                        display: none;
                    }
                }
            }
        }
        &.Warehouse_process {
            .item-main {
                .right_items {
                    .target_block {
                        display: none;
                    }
                }
            }
        }
        &.pack_process{
            .item-main {
                .right_items {
                    .target_block {
                        display: none;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            padding: 10px;
        }

        .completed_boxes {
            gap: 12px;
            display: none;
            &.upload_check_boxes-flex {
                display: none;
            }
        }


        .item_img {
            svg {
                path {
                    stroke: $color444547;
                }

            }
        }

        &.show {
            border: 1px solid $color597559;
            .item_img {
                svg {
                    path {
                        stroke: $color365236;
                    }
    
                }
            }
        }

        &.upload_photo_process {
            .item-main {
                .right_items {
                    .target_block {

                        .check_fileds {
                            display: flex;
                            margin-top: 0px;
                            @media (max-width: 991px) {
                                flex-direction: column;
                            }

                            .form_check {
                                flex-direction: inherit;
                                align-items: center;
                                margin-right: 12px;
                                @media (max-width: 991px) {
                                    align-items: flex-start;
                                    flex-direction: row;
                                }
                            }
                        }
                    }
                }
            }

        }

        .item-main {
            display: flex;
            gap: 20px;

            @media (max-width: 767px) {
                gap: 10px;
                flex-direction: column;
            }

            .right_items {
                p {
                    color: $color10191F;
                    font-family: 'Mont';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 0px;
                    opacity: 0.6;
                    margin-bottom: 4px;
                    &.tabs_desc {
                        margin-top: 8px;
                        margin-bottom: 0;
                    }
                }

                .checbox_field {
                    &.completed_box {
                        border-radius: 8px;
                        border: 1px solid $colorEFEFEE;
                        background: $colorwhite;
                        padding: 3px 8px;
                        margin-top: 24px;
                        // max-width: 256px;
                        border-radius: 20px;
                        width: max-content;

                        .custom_checkbox {
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            .checkmark {
                                width: 16px;
                                height: 16px;
                                border-radius: 50%;
                                background-size: 14px;
                                margin-top: 4px;
                            }
                        }
                    }

                    .check_title {
                        // padding-left: 22px;
                        overflow: hidden;
                        color: $color232D35;
                        text-overflow: ellipsis;
                        font-family: 'Mont';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: -0.14px;
                        margin-left: 4px;
                        padding-top: 2px;
                        @media (max-width: 767px) {
                            max-width: 250px;
                            display: block;

                        }

                        &.upload_check {
                            padding-left: 28px;
                            font-family: 'Mont';
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 12px; /* 100% */
                            letter-spacing: 0.6px;
                            text-transform: uppercase;
                        }
                    }
                }

                .target_block {
                    display: flex;
                    gap: 24px;
                    align-items: center;
                    margin-top: 24px;
                    flex-wrap: wrap;
                    .light_field_label {
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                    &.photo_block {
                        gap: 12px;
                    }

                    @media (max-width: 767px) {
                        padding: 10px;
                    }

                    .link_not_required {
                        color: $color3B5A71;
                        font-family: 'Mont';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        text-transform: uppercase;

                        @media (max-width: 767px) {
                            font-size: 12px;
                        }
                    }

                    .form_check {
                        display: flex;
                        flex-direction: column;

                        select {
                            height: 36px;
                            min-width: 260px;
                        }
                    }

                    .primary-btn {
                        height: 36px;

                        &.mt_20 {
                            margin-top: 20px;

                            @media (max-width: 767px) {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}