$colorwhite: #fff;
$color597559: #597559;
$colorDBDDDD: #DBDDDD;
$color232D35: #232D35;
$color444547: #444547;
$color7E8992: #7E8992;
$color365236: #365236;
$colorEFEFEE: #EFEFEE;
$colorF2F5F1: #F2F5F1;
$colorF2F2F4: #F2F2F4;
$color5D666C: #5D666C;
$colorF23939: #F23939;
$colorFAFAFA: #FAFAFA;
$colorF7E6E6: #F7E6E6;
$colorE8F7EE: #E8F7EE;
$colorCDD8DF: #CDD8DF;
$color63737D: #63737D;
$colorE3F0FA: #E3F0FA;
$color7C987C: #7C987C;
$color3B5A71: #3B5A71;
$colorFFEFC7: #FFEFC7;
$color9A7800: #9A7800;
$color10191F: #10191F;